PORT=3000
DATABASE_URL=postgres://user:password@localhost:5432/notebook_ai
MY_JWT_SECRET=replace-with-access-token-secret
JWT_REFRESH_SECRET=replace-with-refresh-token-secret

GEMINI_API_KEY=replace-with-gemini-api-key

CHROMADB_API_KEY=replace-with-chromadb-cloud-api-key
CHROMADB_TENANT=replace-with-chromadb-tenant-id
CHROMADB_DATABASE=notebook-lm
CHROMADB_COLLECTION=notebook-lm

CLIENT_APP_URL=http://localhost:5173
SERVER_APP_URL=http://localhost:3000

MAILGUN_API_KEY=replace-with-mailgun-api-key
MAILGUN_DOMAIN=replace-with-mailgun-domain
MAILGUN_FROM=noreply@notebook-ai.com
